@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row">
    <div class="col-md-4">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" style="display:none">Logout</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('logoutForm').submit();
    </script>
}
